/*Animacao do nave menu*/

@keyframes Nave-LogoMenu-imagem{
    0%{
        opacity: 0;
    }
    80%{
        opacity: .6;
    }
    100%{
        opacity: 1;
    }
}

/*--------------------------*/
/*   SECTION OS MAIS AMADOS */
/*--------------------------*/

div#mais-amados-imagem div.mais-amados-menu img:hover {
    transform:  scale(1.1) translateY(-10px);
    
}

div#mais-amados-imagem div.mais-amados-menu img:hover +  h2{
    transform:  scale(1.3) translateY(-15px);
}

