/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/

/* MENU */

header#principal{
    height: auto;
}

header nav#principal-menu{
    height: 60px;
}

nav#principal-menu div#logo{
    width: 20%;
    height: 90%;
    margin-left: 5rem;
}

nav#principal-menu ul#icone-menu{
    display: flex;
    position: absolute;
    top: 15px;
    right: 40px;
}

nav#principal-menu ul#icone-menu li{
    list-style: none;
}

/*----------- MENUS MOBILE-----------*/
nav#principal-menu ul#icone-menu ion-icon#menu-humburguer{
    font-size: 250%;
    color: #632D0B;
}

nav#principal-menu ul#icone-menu ion-icon#menu-X{
    font-size: 250%;
    color: #632D0B;

    display: none;
}

/*-----------------------------------------*/

nav#principal-menu ul#menu-descktop{
    width: 85%;
    height: 430px;
    position: absolute;
    right: 0;
    top: 20px;
    float: right;
    background: linear-gradient(rgba(139, 49, 49) 0%, rgba(89,18,2) 45%, rgba(139, 49, 49, 0.9) 100%);
    padding-left: 20px;
    padding-top: 20px;
    
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: right;

    z-index: 999;
    display: none;
}

nav#principal-menu ul#menu-descktop li{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

nav#principal-menu ul#menu-descktop li a{
    font-size: 120%;
    color: #FFFF;
}

nav#principal-menu ul#menu-botao{
    display: none;
}

/* iMAGEM */

header div#principal-img{
    height: 300px;
}

/*--------------------------*/
/*   SECTION APRESENTAÇÃO   */
/*--------------------------*/

section#apresentacao h1{
    font-size: 240%;
}

section#apresentacao p{
    font-size: 80%;
}

@media screen and (max-width:550px) {

    div#apresentacao-principal .apresentacao-brownies{
        height: auto;
    }

    div#apresentacao-inf div#apresentacao-inf-centro{
        margin: auto;
    }
    
    div#apresentacao-inf div#apresentacao-inf-esquerda, div#apresentacao-inf div#apresentacao-inf-direita{
        display: none;
    }

}

/*--------------------------*/
/*   SECTION COMO ENCONTRAR */
/*--------------------------*/

section#como-encontrar{
    height: 300px;
}

div#como-encontrar-direita .informacao-como-encontrar h4{
    font-size: 90%;
}

div#como-encontrar-direita .informacao-como-encontrar p{
    font-size: 70%;
}

div.informacao-como-encontrar img{
    width: 22%;
}

@media screen and (max-width:720px) {
    section#como-encontrar{
        width: 100%;   
        height: auto;
        align-items: center;
        background-color: #2F160B;

        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    section#como-encontrar div#como-encontrar-direita{
        width: 100%;
        height: 100%;
        padding-bottom: 20px;

        background-color: #FAAF9A;
    }

    div#como-encontrar-esquerda img{
        display: none;
    }
    div#como-encontrar-direita .informacao-como-encontrar h4{
        font-size: 120%;
    }

    div#como-encontrar-direita .informacao-como-encontrar p{
        font-size: 100%;
    }
}

/*--------------------------*/
/*   SECTION OS MAIS AMADOS */
/*--------------------------*/

section#mais-amados div#mais-amados-imagem{
    width: 90%;
}

section#mais-amados h1{
    font-size: 240%;
}

section#mais-amados p{
    font-size: 80%;
}

div#mais-amados-imagem div.mais-amados-menu img{
    height: 200px;
}

div#mais-amados-imagem div.mais-amados-menu h2{
    font-size: 90%;
}

div#mais-amados-imagem div.mais-amados-menu p{
    width: 90%;
    font-size: 70%;
}

div#mais-amados-imagem div.mais-amados-menu hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width:680px) {

    section#mais-amados hr{
        margin-bottom: 10px;
    }

    section#mais-amados div#mais-amados-imagem{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        align-items: center;
    }
   
    div#mais-amados-imagem div.mais-amados-menu{
        width: 80%;
        height: 460px;

        margin-bottom: 10px;
    }

    div#mais-amados-imagem div.mais-amados-menu img{
        height: 300px;
        margin-bottom: 30px;
    }

    section#mais-amados div#mais-amados-inferior{
        margin-top: 10px;
    }

}

@media screen and (max-width:550px) {
    section#mais-amados h1{
        font-size: 200%;
    }
}

/*--------------------------*/
/*  ELEMENTOS DO SOBRE      */
/*--------------------------*/

section#sobre{
    height: 340px;
}

section#sobre div#sobre-esquerda p{
    font-size: 80%;
}

@media screen and (max-width:620px) {
    section#sobre{
        height: 370px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        align-items: center;
    }

    section#sobre div#sobre-direita{
        display: none;
    }

    section#sobre div#sobre-esquerda{
        width: 100%;
    }

    section#sobre div#sobre-esquerda h1{
        font-size: 250%;
    }

    section#sobre div#sobre-esquerda p{
        font-size: 90%;
    }
}

/*--------------------------*/
/*  ELEMENTOS DO CONTATO    */
/*--------------------------*/

section#contato{
    height: 500px;
}

section#contato div#contato-formulario h3{
    font-size: 120%;
    margin-bottom: 1rem;
}

div#contato-formulario form input.formulario,select#assunto{
    height: 1.4rem;
    font-size: 80%;
}

section#contato div#contato-localizacao ion-icon{
    font-size: 100%;
}

section#contato div#contato-localizacao p{
    font-size: 70%;
}

@media screen and (max-width:660px) {
    section#contato{
        height: 900px;
        padding-bottom: 2rem;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;

        align-items: center;
    }

    section#contato div#contato-formulario{
        width: 80%;
        height: 70%;
        padding-bottom: 20px;
    }

    div#contato-formulario form input.formulario,select#assunto{
        height: 2rem;
    }

    div#contato-formulario label{
        margin-left: 3.3rem;
    }

    section#contato div#contato-formulario #form-mensagem-botao{
        padding: .5rem 32.5%;
    }

    /*  Mapa  */

    section#contato div#contato-localizacao{
        width: 80%;
        height: 70%;
        margin-left: -.5rem;
        padding-bottom: 2rem;
    }
}

/*--------------------------*/
/*  ELEMENTOS DO FOOTER      */
/*--------------------------*/

footer.footer div#footer-principal{
    width: 100%;
}

/* Logo */

div#footer-principal div#footer-principal-logo{
    display: none;
}

/* Contato */

div#footer-principal div#footer-principal-contato{
    width: 45%;
}

div#footer-principal div#footer-principal-contato h3, div#footer-principal-menu h3, div#footer-principal-redes-sociais h3{
    font-size: 120%;
}

div#footer-principal-contato ul.footer-contato li ion-icon{
    font-size: 80%;
}

@media screen and (max-width:440px) {

    div#footer-principal div#footer-principal-contato{
        width: 60%;
    }
    
    div#footer-principal div#footer-principal-contato h3, div#footer-principal-menu h3, div#footer-principal-redes-sociais h3{
        font-size: 100%;
    }

    div#footer-principal-contato ul.footer-contato li ion-icon{
        font-size: 90%;
    }

    div#footer-principal-contato ul.footer-contato li p{
        font-size: 90%;
    }
}

div#footer-principal-contato ul.footer-contato li a, div#footer-principal-menu ul li a{
    font-size: 80%;
}

/* Menu */

div#footer-principal div#footer-principal-menu{
    width: 25%;
}

@media screen and (max-width:440px){

    div#footer-principal div#footer-principal-menu{
        width: 35%;
    }

    div#footer-principal div#footer-principal-menu ul li a{
        font-size: 90%;
    }
}


/* Rede-sociais */

div#footer-principal div#footer-principal-redes-sociais{
    width: 25%;
}

div#footer-principal div#footer-principal-redes-sociais ul li a ion-icon{
    font-size: 110%;
}

@media screen and (max-width:440px){

    div#footer-principal div#footer-principal-redes-sociais{
        display: none;
    }
}

