/*
CORES
Amarelo queimado = #BF7E04;
Verniz claro = #591202
Verniz escuro = #260101

Salmao = #FAAF9A
Chocolate = #2F160B
Chocolate fraco = #632D0B

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/

/* MENU */

header#principal{
    width: 100%;
    height: 600px;
    background-position: center center;
}

header nav#principal-menu{
    width: 100%;
    height: 150px;
    background-color: #FAAF9A;
    padding-top: 15px;
}

nav#principal-menu div#logo{
    width: 10%;
    height: 90%;

    float: left;
    margin-left: 120px;
}

div#logo img{
    max-width: 100%;
    max-height: 100%;
}

nav#principal-menu ul#menu-descktop{
    width: 50%;
    float: left;
    margin-left: 10px;
    margin-top: 40px;

    display: flex;
    flex-flow: row wrap;
    justify-content: right;
}

nav#principal-menu ul#menu-botao{
    float: right;
    margin-right: 8%;
    margin-top: 30px;

    border-style: solid;
    border-color: #632D0B;
    border-width: 2px;
    border-radius: 25px;
    padding: 1px;

    cursor: pointer;
}

nav#principal-menu div#menu-botao-botao{    
    background-color: #632D0B;
    padding: 10px 30px;
    border-radius: 20px;

    background: linear-gradient(rgba(47, 22, 11, 1) 0, rgba(99,45,11, 0.8) 50%, rgba(99,45,11, 0.8) 100%);   
}

/* iMAGEM */

header div#principal-img{
    width: 100%;
    height: 450px;
}

header div#principal-img img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/*--------------------------*/
/*   SECTION APRESENTAÇÃO   */
/*--------------------------*/

section#apresentacao{
    width: 100%;
    height: 800px;
    background-color: #2F160B;
    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

section#apresentacao div#apresentacao-principal{
    width: 70%;
    margin-top: 40px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div#apresentacao-principal .apresentacao-brownies{
    width: 33.3%;
    height: 270px;
    text-align: center;   
}

.apresentacao-brownies img{
    max-width: 100%;
    max-height: 100%;

    box-shadow:  -2px  2px 6px  #632D0B;
}

section#apresentacao div#apresentacao-inf{
    margin-top: 80px;
    width: 65%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div#apresentacao-inf div#apresentacao-inf-esquerda{
    background-image: url(../imagens/transicao-botao.png);
    background-repeat: no-repeat;
    width: 33.3%;
    height: 50px;

}

div#apresentacao-inf div#apresentacao-inf-direita{
    background-image: url(../imagens/transicao-botao.png);
    background-repeat: no-repeat;
    width: 33.3%;
    height: 50px;
    background-position: right;
}

/*--------------------------*/
/*   SECTION COMO ENCONTRAR */
/*--------------------------*/

section#como-encontrar{
    width: 100%;   
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #FAAF9A;
}

section#como-encontrar div#como-encontrar-esquerda{
    width: 50%;
    height: 100%;
}

div#como-encontrar-esquerda img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}