/*
FONTES
font-family: 'Fira Sans', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Titan One', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Almarai', sans-serif;
font-family: 'Roboto Slab', serif;
*/

/*
CORES
Amarelo queimado = #BF7E04;
Verniz claro = #591202
Verniz escuro = #260101

Salmao = #FAAF9A
Salmao fraco = #FABFAF
Chocolate = #2F160B
Chocolate fraco = #632D0B
Vermelho = #cb032c
*/

*{
    font-size: 16px;
}

h1, h2{
    font-size: 350%;
    font-family: 'Titan One', cursive;
}

/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/

nav#principal-menu ul#menu-descktop li{
    list-style: none;
    margin-left: 1.5%; 
    margin-right: 5%;  
}

nav#principal-menu ul#menu-descktop li a{
    text-decoration: none;
    color: #632D0B;
    font-family: 'Almarai', sans-serif;
    font-weight: 600;
    
    font-size: 90%;
}

nav#principal-menu div#menu-botao-botao a{
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    color: #FFFF;
}

/*--------------------------*/
/*   SECTION APRESENTAÇÃO   */
/*--------------------------*/

section#apresentacao h1{
    color: #FFFF;
    margin-bottom: 30px;
    text-transform: uppercase;
}

section#apresentacao p{
    width: 55%;
    font-family: 'Roboto Slab', serif;
    color: #FFFF;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;   
}

section#apresentacao hr{
    width: 10%;
    height: 3px;
    border: none;
    background-color: rgb(114, 10, 10);
}

div#apresentacao-inf div#apresentacao-inf-centro{
    padding: 2px;
    border-radius: 35px;
    background-color: #cb032c;
    border: 1px solid #ffff;

    cursor: pointer;
}

div#apresentacao-inf div#apresentacao-inf-centro-botao{
    
    background: linear-gradient(rgba(203,3,44, 0.8) 0%, rgba(114, 10, 10) 50%, rgba(203,3,44, 0.8) 100%);
    padding: 10px 30px;
    border-radius: 30px;

    border: 1px solid #fff;
    cursor: pointer;
}

div#apresentacao-inf div#apresentacao-inf-centro-botao a{
    text-decoration: none;
    color: #FFFF;
}

div#apresentacao-inf-centro-botao h3{
    font-size: 130%;
    font-family: 'Almarai', sans-serif;
    text-transform: uppercase;
}

/*--------------------------*/
/*   SECTION COMO ENCONTRAR */
/*--------------------------*/

div#como-encontrar-direita .informacao-como-encontrar h4{
    font-family: 'Pacifico', cursive;
    color: #441f0f;
    font-size: 120%;
    font-weight: 300;
    margin-top: 10px;
}

div#como-encontrar-direita .informacao-como-encontrar p{
    color: #632D0B;
    font-family: 'Almarai', sans-serif;
    font-size: 90%;
    margin-top: 15px;
    line-height: 1.6;
}

/*--------------------------*/
/*   SECTION OS MAIS AMADOS */
/*--------------------------*/

section#mais-amados h1{
    color: #FFFF;
    margin-bottom: 30px;
    text-transform: uppercase;
    
}

section#mais-amados p{
    width: 55%;
    font-family: 'Roboto Slab', serif;
    color: #FFFF;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center; 
}

section#mais-amados hr{
    width: 10%;
    height: 3px;
    border: none;
    background-color: rgb(114, 10, 10);
    margin-bottom: 20px;
}

div#mais-amados-imagem div.mais-amados-menu h2{
    font-size: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FAAF9A;

    transform-origin: bottom center;
    transition: all 0.6s ease-out;
}

div#mais-amados-imagem div.mais-amados-menu p{
    width: 80%;
}

div#mais-amados-imagem div.mais-amados-menu hr{
    margin-top: 40px;
    width: 30%;
    height: 3px;
    border: none;
    background-color: rgb(114, 10, 10);
    margin-bottom: 40px;
}

section#mais-amados div#mais-amados-inferior{
    padding: 2px;
    border-radius: 35px;
    background-color: #cb032c;
    border: 1px solid #ffff;
    margin-top: 50px;

    cursor: pointer;
}

div#mais-amados-inferior div#ais-amados-inferior-botao{
    background: linear-gradient(rgba(203,3,44, 0.8) 0%, rgba(114, 10, 10) 50%, rgba(203,3,44, 0.8) 100%);
    padding: 10px 30px;
    border-radius: 30px;

    border: 1px solid #fff;
    cursor: pointer;
}

section#mais-amados h3{
    font-size: 130%;
    font-family: 'Almarai', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

/*--------------------------*/
/*  ELEMENTOS DO SOBRE      */
/*--------------------------*/

section#sobre div#sobre-esquerda h1{
    color: #fff;
    margin-top: 3rem;
    margin-bottom: 2rem;

    text-transform: uppercase;
}

section#sobre div#sobre-esquerda hr{
    width: 25%;
    background-color: #fff;
    margin-bottom: 3rem;
}

section#sobre div#sobre-esquerda p{
    width: 70%;
    color: #fff;
    font-family: 'Almarai', sans-serif;
    font-size: 110%;
    text-align: left;
    line-height: 1.5;
    font-weight: 400;
    
}

/*--------------------------*/
/*  ELEMENTOS DO CONTATO    */
/*--------------------------*/

section#contato div#contato-formulario h3{
    font-size: 140%;
    font-family: 'Almarai', sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;

    color: #441f0f;
}

div#contato-formulario label{
    font-family: 'Almarai', sans-serif;
    color: #c2674e;
}

section#contato div#contato-formulario #form-mensagem-botao{
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 120%;
    font-weight: 600;
    background: linear-gradient(rgba(203,3,44, 0.8) 0%, rgba(114, 10, 10) 50%, rgba(203,3,44, 0.8) 100%);   
    padding: .5rem 33.5%;
    margin-top: .5rem;
    text-transform: uppercase;

    border: 1px solid rgba(114, 10, 10);
    border-radius: 8px;
}

/* Mapa */

section#contato div#inf-localizacao, section#contato div#inf-horario{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}
section#contato div#contato-localizacao ion-icon{
    font-size: 130%;
    color: #441f0f;
    margin-top: 1.1rem;
    margin-left: .5rem;
}

section#contato div#contato-localizacao p{
    font-family: 'Almarai', sans-serif;
    font-size: 90%;
    color: #441f0f;
    margin-top: 1.3rem;
    margin-left: .5rem;
}

/*--------------------------*/
/*  ELEMENTOS DO FOOTER      */
/*--------------------------*/

/* Contato */

div#footer-principal div#footer-principal-contato h3, div#footer-principal-menu h3, div#footer-principal-redes-sociais h3{
    font-family: 'Almarai', sans-serif;
    font-size: 180%;
    color: #fff;
    margin: 2rem .9rem 1.5rem;
}

div#footer-principal-contato ul.footer-contato li ion-icon{
    font-size: 130%;
    margin-right: 10px;
    color: #fff;
}

div#footer-principal-contato ul.footer-contato li a, div#footer-principal-menu ul li a{
    font-family: 'Almarai', sans-serif;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

/* Menu */

div#footer-principal div#footer-principal-menu ul li{
    display: flex;
    margin-top: .8rem;
    margin-left: .8rem;
}

/* Rede-sociais */

div#footer-principal div#footer-principal-redes-sociais ul li{
    display: flex;
    margin-left: .8rem;
}

div#footer-principal div#footer-principal-redes-sociais ul li a{
    text-decoration: none;
    color: #fff;
}

div#footer-principal div#footer-principal-redes-sociais ul li a ion-icon{
    font-size: 180%;
}
 