/*
FONTES
font-family: 'Fira Sans', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Titan One', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Almarai', sans-serif;
font-family: 'Roboto Slab', serif;
*/

/*
CORES
Amarelo queimado = #BF7E04;
Verniz claro = #591202
Verniz escuro = #260101

Salmao = #FAAF9A
Chocolate = #2F160B
Chocolate fraco = #632D0B

*/

*{
    font-size: 16px;
}

h1, h2{
    font-size: 350%;
    font-family: 'Titan One', cursive;
}

/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/

nav#principal-menu ul#menu-descktop li{
    list-style: none;
    margin-left: 1.5%; 
    margin-right: 5%;  

    font-size: 120%;
}

nav#principal-menu ul#menu-descktop li a{
    text-decoration: none;
    color: #632D0B;
    font-family: 'Almarai', sans-serif;
    font-weight: 600;
}

nav#principal-menu div#menu-botao-botao a{
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    color: #FFFF;
}

/*--------------------------*/
/*   SECTION APRESENTAÇÃO   */
/*--------------------------*/

section#apresentacao h1{
    color: #FFFF;
    margin-bottom: 30px;
}

section#apresentacao p{
    width: 55%;
    font-family: 'Roboto Slab', serif;
    color: #FFFF;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;   
}

section#apresentacao hr{
    width: 10%;
    height: 3px;
    border: none;
    background-color: rgb(114, 10, 10);
}

section#apresentacao div#apresentacao-principal{
    width: 70%;
    margin-top: 40px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div#apresentacao-principal .apresentacao-brownies{
    width: 33.3%;
    height: 270px;
    text-align: center;   
}

.apresentacao-brownies img{
    max-width: 100%;
    max-height: 100%;

    box-shadow:  -2px  2px 6px  #632D0B;
}

